/* Eliminar márgenes y padding por defecto */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Evitar desplazamiento si no es necesario */
  }
  
  /* Contenedor principal de la página */
  .container {
    width: 100%;
    height: 100%;
  }
  
  /* Estilo del contenedor de bienvenida */
  .bienvenida-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  /* Estilo de la superposición */
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    color: white;
    max-width: 800px;
    width: 90%;
  }
  
  /* Estilo del mensaje de bienvenida */
  .welcome-message {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--clr-main-light);
  }
  
  /* Estilo del texto de bienvenida */
  .welcome-text {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  /* Estilos responsivos para pantallas más pequeñas */
  @media (max-width: 600px) {
    .welcome-message {
      font-size: 2rem;
    }
  
    .welcome-text {
      font-size: 1.2rem;
    }
  }
  
  