/* Login.css */

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura de la pantalla completa */
    width: 100vw; /* Ancho de la pantalla completa */
  }
  
  .login-form-container {
    background-color: var(--clr-main);
    padding: 20px;
    border-radius: 10px;
    color: black;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form-group {
    margin-bottom: 15px;
  }
  
  .login-form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid var(--clr-main-light);
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4b0082;
    color: white;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: var(--clr-main-light);
    color: black;
  }
  
  .login-toggle {
    text-align: center;
    margin-top: 10px;
  }
  
  .login-toggle span {
    color: var(--clr-main-light);
    cursor: pointer;
  }
  
  .login-toggle span:hover {
    text-decoration: underline;
  }
  
  
  
