/* Login.css */

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding-top: 4.5rem; 
}

.login-form-container {
  background-color: #d8a7f3; /* Color de fondo del contenedor principal */
  padding: 3rem; /* Incrementar el padding para un cuadro más grande */
  border-radius: 8px;
  color: black;
  max-width: 600px; /* Ancho máximo del cuadro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form-group {
  margin-bottom: 1.5rem; /* Incrementar el espacio entre grupos de campos */
}

.login-form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.login-form-group input {
  width: 100%;
  padding: 1rem; /* Incrementar el padding para inputs más grandes */
  border-radius: 5px;
  border: 2px solid #efdaf9; /* Color del borde */
}

.login-button {
  width: 100%;
  padding: 1.2rem; /* Incrementar el padding para un botón más grande */
  border: none;
  border-radius: 5px;
  background-color: #4b0082;
  color: white;
  cursor: pointer;
}

.login-button:hover {
  background-color: #c56cee; /* Cambiar el color al pasar el mouse */
}

.login-toggle {
  text-align: center;
  margin-top: 1.5rem; /* Incrementar el margen para más separación */
}

.login-toggle span {
  color: #4b0082; /* Cambiar el color del texto */
  cursor: pointer;
}

.login-toggle span:hover {
  text-decoration: underline;
}

/* Login.css */

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
}

.circle.green {
  background-color: green;
}

.circle.red {
  background-color: red;
}

/* El resto de tu CSS permanece igual */


  
  
  
